Source: jnati
Section: java
Priority: optional
Maintainer: Yury Zavarin <yzavarin@ebi.ac.uk>
Build-Depends:
 debhelper (>= 9),
 default-jdk,
 maven-debian-helper (>= 1.5),
Standards-Version: 3.9.7

Package: libjnati-java
Architecture: all
Depends:
 ${misc:Depends},
 ${maven:Depends},
Description: Java library for working with native, non-Java libraries 
